@font-face {
  src: url('/fonts/SVN-DHF Dexsar Brush.otf');
  font-family: "takeEasy";
}
body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #FDFDFD;
  font-weight: 300;
  overflow-x: hidden;
}
.form-group {
  margin-bottom: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
a {
  color: #FFCC00 ;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {

font-family: "Roboto Slab", Arial, sans-serif;
font-weight: 10000;
font-size: 100rem;
}
p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-family: "Roboto", Arial, serif;
}
.yellowInRight{
  border-right: 3px solid yellow;
  padding-right: 23px;
  margin-right: 23px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
/*---------------------*/
.slider{

  
  color: #FDFDFD !important;
  height: 52vh;
 
}
.slider_center{
  height: 100%;
}
.slider h1 {
  font-size:5em;
}
.slider span{
  font-size:1.1em;
}
.slider a{
  color: #FDFDFD !important;
}
.slider a:hover{
  color: #FFCC00  !important;
}

/*-------------------------*/
#about{
  color: #000 !important;
}
#about .aboutLeft h1:after {
  content: "";
    display: block;
    width: 200px;
    height: 6px;
    background: #FFCC00;
    left: 50%;
    margin-left: 0px;
    bottom: 0;
}
#areaMap h1:after {
  content: "";
    display: block;
    width: 190px;
    height: 5px;
    background: #FFCC00;
    left: 50%;
    margin-left: 0px;
    bottom: 0;
}
#famousArea h1{
position: relative;
padding-bottom: 20px;

}
#famousArea h1:after {
  content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: #FFCC00;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
}
#about h1 {
  font-size: 5.5em;
  text-align: left;
}
#about .aboutRight{
  background-color: #f7f2e9 !important;
  padding: 70px 80px 50px 70px;
}
#about .aboutLeft{

  padding: 70px 80px 50px 70px;
}
#about .aboutRight p{
  color: #2A2828 !important;
}
#about .midImage{
  background-color: #f7f2e9 !important;
  width: 100%;
  height: 54vh;
  
}
#about .midImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#about .blockImage{
  display: block;
  width: 87%;
  height: 100%;
}
/*--------------Map-----------*/
#listArea ul li{
  padding-bottom: 10px;
  cursor: pointer;
}
#listArea ul li:hover {
  color: #FFCC00 ;
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);  
}

#listArea ul li {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.map_inner{
  height: 75vh;
}
code {
	display: inline-block;
	padding: 0 .375em .125em;
	border-radius: 5px;
	background: #ccc;
	font: 900 1.125em/1.25 consolas, monaco, monospace
}

[d] {

	transition: .7s;
	
}
[d]:hover { fill: #f90 }
path .content {
  position: absolute;
  bottom: 55px;
  width: 400px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
path:hover .content{
  visibility: visible;
  opacity: 1;
}
#more {display: none;}
#areaMap .infoCol1{
  background-color: #0F0F0F ;
}
#areaMap .infoCol2{
  background-color: #FFCC00  ;
  padding: 20px 70px 50px 50px;
}
#areaMap {
  margin-left: auto ;
  margin-bottom: 100px;
  margin-right: auto;

  padding: 7em 0;
}
#areaMap h1{
  font-size: 3.5rem;
}

@import url(../css/fonts.css);
html {
  scroll-behavior: smooth;
}
#countNumber{
	margin-top: 100px;
    margin-bottom: 120px;
    padding: 30px 0px 0px 0px;
	position: relative;
	}
	.elementor-counter .heading-decor {
		display: inline-block;
		width: 60px;
		height: 3px;
		margin-top: 25px;
		background-color: #ffcc00;
	}
	.elementor-counter {
		text-align: center;
		padding: 15px 50px 30px 50px;
		border-right: 1px solid #f0efef;
	}
	.elementor-counter .elementor-counter-number-wrapper {
		font-weight: 400;
		font-family: "takeEasy";

	}
	.elementor-counter .count-num {
		font-family: "takeEasy";
		font-size: 60px;
	}
	.elementor-counter-number-prefix, .elementor-counter-number-suffix {
		font-family: "takeEasy";
		font-size: 30px;
	}
	hr.hrForCount{
		border-top: 2px solid #b3b3b3;
		width: 100%;
		margin: 70px 0;
	}
	.elementor-counter-description{
		color: #575757 !important;
	}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 40px;
  color: #ad7153;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  border-radius: 100rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #ad7153;
}

.scroll-up-btn:hover {
  background-color: #ad7153;
  color: #F5FFFA;
}

.show {
  pointer-events: auto;
  opacity: 1;
}


.bgvn {
  width: 100%;
  height: 100vh;
  background: url(../imgs/bgvn1.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.bgvn h1 {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 20px;
  padding-bottom: 25px;
  position: relative;
}

.bgvn h1::before {
  content: "s";
  position: absolute;
  font-size: 0px;
  width: 35%;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  right: 0;
  background-color: #ffffff;
}

#mienbac {
  background-image: url(../imgs/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mienbac .taito-mb .css-taito-mb {
  text-align: center;
  margin-bottom: 100px;
  color: black;
  margin-top: 100px;
  font-weight: bold;
}

#mienbac .title-mb {
  text-align: center;
  padding-left: 30px;
  padding-right: 60px;
}

#mienbac .title-mb h2 {
  color: black;
  margin-bottom: 30px;
}

#mienbac .title-mb p {
  color: black;
  margin-bottom: 50px;
}

#mienbac .title-mb a {
  padding: 10px 50px;
  color: #ad7153;
  text-decoration: none;
  border: 2px solid #ad7153;
}
#areaMap .title-mb a {
  padding: 10px 50px;
  color: #ad7153;
  text-decoration: none;
  border: 2px solid #ad7153;
}
#areaMap .title-mb{
  margin-bottom: 20px;
  
}

#mienbac .title-mb a:hover {
  background: #ad7153;
  color: #F5FFFA;
}

#mienbac .title-mb h1 {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  margin-top: 50px;
}

#mienbac .title-mb h2 {
  margin-bottom: 30px;
}

#mienbac .img-mb {
  position: relative;
}

#mienbac .img-mb .mb1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#mienbac .img-mb .mb2 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#mienbac .img-mb .mb3 {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 50%;
  height: 250px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#mienbac .best-dd {
  margin-top: 200px;
}

#mienbac .best-dd h1 {
  text-align: center;
  color: black;
}

#mienbac .best-dd .fix-center {
  margin-top: 100px;
  width: 85%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#mienbac .best-dd .fix-center .img-best-mb {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#mienbac .best-dd .fix-center .img-best-mb:hover .text-best-mb {
  height: 20%;
}

#mienbac .best-dd .fix-center .img-best-mb:hover .text-best-mb .css-text-best-mb {
  display: block;
}

#mienbac .best-dd .fix-center .img-best-mb:hover .css-img-best-mb {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#mienbac .best-dd .fix-center .img-best-mb .text-best-mb {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #C1A699;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mienbac .best-dd .fix-center .img-best-mb .text-best-mb .css-text-best-mb {
  text-align: center;
  color: white;
  font-size: 1.5em;
  display: none;
}

#mienbac .best-dd .fix-center .img-best-mb .css-img-best-mb {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
  width: 100%;
  height: 60vh;
}


.copyright {
  background-image: url(../imgs/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 35px 0;
  color: black;
  font-family: 'LifeLogo';
}

.copyright .nguon {
  text-align: center;
}

.copyright .cpr-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.copyright .cpr-left i {
  margin-right: 10px;
}

@media (max-width: 992px) {
  #mienbac .best-dd .fix-center .img-best-mb .css-img-best-mb {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  #mienbac .title-mb {
    margin-bottom: 50px;
  }
  #mienbac .best-dd {
    margin-top: 450px;
  }
  #mienbac .best-dd .fix-center .img-best-mb .css-img-best-mb {
    height: auto;
  }
}

@media (max-width: 576px) {
  nav .menu_area .nav ul li a {
    padding: 5px 10px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=style.css.map */



/*-------famousArea---------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1084 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
#famousArea h1{
  font-size: 3.5rem;
}
#famousArea{
  padding: 7em 0;
}
#famousArea .my-4 {
  margin-top: 2.5rem!important;
  margin-bottom: 2.5rem!important;
}
figure.snip1084 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

figure.snip1084 img {
  opacity: 1;
  width: 100%;
}

figure.snip1084 figcaption {
  top: 50%;
  left: 40px;
  right: 40px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.snip1084 figcaption h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  -webkit-transform: translateY(75%);
  transform: translateY(75%);
}

figure.snip1084 figcaption h2 span {
  font-weight: 800;
}

figure.snip1084 figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0;
  margin: 0;
}

figure.snip1084:before,
figure.snip1084:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
}

figure.snip1084:before {
  border-top: 1px double #fff;
  border-bottom: 1px double #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.snip1084:after {
  border-right: 1px double #fff;
  border-left: 1px double #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.snip1084 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1084.blue {
  background: #0a212f;
}

figure.snip1084.red {
  background: #36100c;
}

figure.snip1084.yellow {
  background: #562e0a;
}

figure.snip1084:hover img,
figure.snip1084.hover img {
  opacity: 0.2;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1084:hover figcaption h2,
figure.snip1084.hover figcaption h2,
figure.snip1084:hover figcaption p,
figure.snip1084.hover figcaption p {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

figure.snip1084:hover figcaption p,
figure.snip1084.hover figcaption p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1084:hover:before,
figure.snip1084.hover:before,
figure.snip1084:hover:after,
figure.snip1084.hover:after {
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*-------monthEvent------*/
#fh5co-press {
  padding: 7em 0;
}
@media screen and (max-width: 480px) {
  #fh5co-press {
    padding: 5em 0;
  }
}
#fh5co-press {
  background: #f4f4f4;
}
#fh5co-press .fh5co-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item {
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text,
#fh5co-press .fh5co-press-item .fh5co-press-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-text,
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text {
  float: left;
  padding: 20px;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title .fh5co-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #FFCC00 ;
}
#fh5co-press .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FFCC00 ;
  --bs-btn-border-color: #FFCC00 ;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e0b300 ;
  --bs-btn-hover-border-color: #FFCC00 ;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FFCC00;
  --bs-btn-active-border-color: #FFCC00;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}
#fh5co-press .fh5co-press-item .fh5co-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}
.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading h2 {
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 3px;
  background: #FFCC00 ;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}


/*-------footer-----*/
#footer {
    width: 100%;
    float: left;
    background: #292929;
    padding: 7em 0 40px;
  }
#footer p {
    color: rgba(255, 255, 255, 0.3);
  }
#footer .section-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
  }
#footer .float {
    float: left;
    margin-right: 10%;
  }
#footer ul {
    padding: 0;
    margin: 0;
  }
#footer ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.3);
  }
#footer ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
  }
#footer ul li a:hover {
    color: #fff;
  }
#footer .contact-info {
    margin: 0 0 60px 0;
    padding: 0;
  }
#footer .contact-info li {
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
  }
#footer h1, h2, h3, h4, h5, h6 {
  
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0 !important;
}
#footer .contact-info li i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
  }
#footer .contact-info li a {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"],
#footer .contact-form .form-group input[type="text"],
#footer .contact-form .form-group input[type="email"],
#footer .contact-form .form-group textarea {
    font-size: 16px;
  }
#footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#footer .contact-form .form-group textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#footer .contact-form .form-group textarea:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#footer .contact-form .form-group textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#footer .contact-form .form-group textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
#footer .contact-form .form-group textarea {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
#footer #btn-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #FFCC00  !important;
  }
.fh5co-social-icons a:hover{
    color: #FFCC00 !important;
}
#fh5co-wrapper {
    overflow-x: hidden;
    position: relative;
  }
  
.fh5co-offcanvas {
    overflow: hidden;
  }
.fh5co-offcanvas #fh5co-wrapper {
    overflow: hidden !important;
  }
  
#fh5co-page {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
.fh5co-offcanvas #fh5co-page {
    -moz-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }

#footer .copy-right {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2em;
    margin-top: 3em;
}

#footer .copy-right p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
}
#footer .copy-right p a {
    color: rgba(255, 255, 255, 0.5);
}
.fh5co-social-icons > a {
    padding: 4px 10px;
}
.fh5co-social-icons > a i {
    font-size: 26px;
}
#footer .section-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}


